h1 { 
	text-align: center;
}

p {
	font-size: 16px;
}

.alert-link {
	text-decoration: underline;
}

.alert-link:hover {
	text-decoration: none;
}

.container {
	margin-top: 20px;
}

.logo {
	display: block;
	margin: 0 auto;
}
