html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 80px!important; /* main top padding + footer height */
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* footer height */
	line-height: 60px; /* vertically center text */
	text-align: center;
	background-color: #f5f5f5;
}

h1 { 
	text-align: center;
}

main {
	padding-top: 20px;
}

p {
	font-size: 16px;
}

.alert-link {
	text-decoration: underline;
}

.alert-link:hover {
	text-decoration: none;
}

.logo {
	display: block;
	margin: 0 auto 10px;
}
