html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

footer {
	text-align: center;
	background-color: #f5f5f5;
}

footer .container {
	line-height: 1.6;
	padding: 15px;
}

a.disabled {
	cursor: not-allowed;
}

hr {
	margin: 0.75rem auto 0.5rem;
}

h1 { 
	text-align: center;
}

h2 {
	font-size: 1.85rem;
}

h5 {
	margin-bottom: 0.1rem;
}

main {
	padding-top: 20px;
	flex: 1 0 auto;
}

main img#loading {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

p {
	font-size: 16px;
}

/* below: fixes a bug with Google Charts (https://github.com/google/google-visualization-issues/issues/2162) */
svg > g > g:last-child { pointer-events: none }

table#transactions td, table#transactions th {
	vertical-align: middle;
}

table#transactions th {
	text-align: center;
}

table#transactions tr {
	cursor: pointer;
}

table#transactions td {
	height: 75px;
}

table#transactions td.date {
	text-align: center;
}

tr.blank {
	height: 10px;
}

.alert-link {
	text-decoration: underline;
}

.alert-link:hover {
	text-decoration: none;
}

.logo {
	display: block;
	margin: 0 auto 10px;
}

.navbar {
	display: block;
	font-size: 1.1rem;
}

#main-column input {
	margin-bottom: 0.5rem;
	padding: 5px;
	width: 100%;
}

#sidebar-accounts table {
	margin-bottom: 0.5rem;
}

#sidebar-column h2 {
	margin-bottom: 0.45rem;
}

#sidebar-spend input {
	width: 3rem;
}

#sidebar-spend table th,
#sidebar-spend table td {
	padding: 0.25rem 0.6rem;
}

.swal2-account-details,
.swal2-transaction-details {
	max-width: 480px!important;
	width: 100%!important;
}

.swal2-account-details .swal2-content,
.swal2-transaction-details .swal2-content {
	text-align: left!important;
}

.swal2-account-details table,
.swal2-transaction-details table {
	width: 100%;
}

.swal2-account-details table th,
.swal2-transaction-details table th {
	width: 160px;
}
